<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{index.titulo}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   

</head>
<body>
    <header class="header fixed-top d-flex align-items-center flex-wrap justify-content-between">
        <nav class="navbar navbar-expand-lg container">
            <div class="col-sm-3 d-sm-block logo">
                <a class="nav-brand" data-toggle="tooltip" title="Kodland" href="/"><img class="img-fluid" src="../static/imagenes/Logo_Kodland_white.png" alt="logo" /></a>
            </div>
            <div class="d-flex justify-content-end w-10 justify-content-end menu_amburgesa">
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse col-sm-9 justify-content-end menu" id="navbarCollapse">
                <ul class="navbar-nav px-4">
                    <li class="nav-item dropdown d-lg-inline-block justify-content-end"><a class="nav-link d-flex justify-content-end text-white" id="navbar-list" href="/">Inicio</a></li>

                    <li class="nav-item dropdown d-lg-inline-block justify-content-end"><a class="nav-link d-flex justify-content-end text-white" id="navbar-list2" href="{{ url_for('darvalores') }}">Infomacion</a></li>


                    <li class="nav-item dropdown d-lg-inline-block justify-content-end"><a class="nav-link d-flex justify-content-end text-white" id="navbar-list2" href="{{ url_for('darplan') }}">Plan</a></li>

                    <li class="nav-item dropdown d-lg-inline-block justify-content-end"><a class="nav-link d-flex justify-content-end text-white" id="navbar-list2" href="#footer">Contactos</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block body %}
        {% endblock %}

    </main>
    <footer class="main-footer justify-content-end text-white" style="padding-top: 50px;" id="footer">
            
        <div class="d-flex flex-wrap align-items-center px-3 bg-gray-300 text-muted content-aling-top">
            <div class="container mb-5">
                <h2>Comentarios</h2>
                <table class="table py-2">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Juan</td>
                            <td>excelencia y profesionalismo la caracterisa</td>
                        </tr>
                        <tr>
                            <td>Maria</td>
                            <td>Estoy de acuerdo, es muy informativo.</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#realizarComentario" data-toggle="tooltip" title="deja tu opinion sobre la experiencia en kodland">Comentar</button>
                <div class="modal fade" id="realizarComentario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Comentario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group"><label for="nombre">Nombre:</label> <input type="text" class="form-control" id="nombre" /></div>
                                    <div class="form-group"><label for="comentario">Comentario:</label> <textarea class="form-control" rows="5" id="comentario"></textarea></div>
                                </form>
                            </div>
                            <div class="modal-footer"><button type="button" class="btn btn-color" data-bs-dismiss="modal">Cerrar</button> <button type="button" class="btn btn-secondary">Enviar</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-3 d-flex px-3 row">
                        <div><img class="img-fluid w-10" src="../static/imagenes/Logo_Kodland_white.png" alt="logo" /></div>
                        
                    </div>
                    <div class="col-sm-3 d-flex">
                        <address>
                            <p><i class="fa-solid fa-location-dot padding-icon"></i>Cl 16A #44-26, Pasto, Nariño</p>
                            <p><i class="fa-solid fa-phone padding-icon"></i>+573235937401</p>
                        </address>
                    </div>
                    <div class="col-sm-4 d-flex flex-column">
                        <h6 class="text-uppercase text-dark mb-3">Contactarte</h6>
                        <p class="mb-3">descripcion y terminos para contatarme</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
