{% extends 'base.html' %}

{% block title %}
    Título de la página
{% endblock %}

{% block body  %}
    <section class="jumbotron pading-top" id="hero">
        <div class="d-flex w-100 mb-5 flex-wrap justify-content-center contenido">
            <div class="col-sm-6 d-flex flex-wrap align-content-center">
                <div>
                    <h1 class="text-uppercase mb-3 letter-spacing-5">Bienvenidos</h1>
                    
                </div>
                <p class="lead mb-4">
                    <br />
                    A nuestra plataforma de enseñanza.<br />
                    <strong>¡Esperamos que disfrutes de tu tiempo aquí!</strong>
                </p>
            </div>
            <div class="col-sm-4 bg-image mb-2"><img class="card-img-top rounded-circle" src="../static/imagenes/kodland_tiktok_rocket.png" alt="imagen hero" /></div>
        </div>
    </section>
    
    <section class="py-7">
    
        <div class="container"> 
        
            <div class="row d-flex flex-wrap justify-content-between py-4">
                <div class="col-sm-5 mb-5 py-5 px-3">
                    <div>
                        <p class="text-uppercase text-muted fw-bold mb-1">¿Que ofrecemos?</p>
                        <h3>Llevando tu educacion a el siguiente nivel</h3>
                        <p class="lead text-muted">La educacion, programacion,  no tiene límites. Te brindamos una amplia gama de servicios de aprendizaje personalizados, con un enfoque en la innovación y la excelencia.</p>
                    </div>
                    
                </div>
                <div id="carouselExample" class="carousel slide col-sm-5">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../static/imagenes/kodland_notebook.png" class="d-block w-100" alt="notebook">
                      </div>
                      <div class="carousel-item">
                        <img src="../static/imagenes/kodland_folks.png" class="d-block w-100" alt="comunidad">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
              
        </div>
    </section>
{% endblock %}

