{% extends "base.html" %}

{% block title%} valores {% endblock %}

{% block body %}
<section class="jumbotron pading-top" id="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-center text-md-start">
                <h1>Bienvenidos al programa de educación en programación.</h1>
				<p>En este curso, los estudiantes aprenderán habilidades clave en programación para poder crear sus propios proyectos, incluyendo un bot de Discord, una página web y un modelo de inteligencia artificial.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="../static/imagenes/1f4da.svg" alt="imagen hero" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">


            <div class="card shadow col-md-12 mb-4 mb-md-6 d-flex flex-column justify-content-between padding-top" id="Maquilaje_social">
                <div class="card-body row d-flex justify-content-center">
                    <div class="col-md-6 d-flex flex-wrap align-content-center">
                        <h2 class="text-uppercase mb-3 letter-spacing-5">Bot de Discord:</h2>
                        <p class="lead text-muted">
                            En esta sección, los estudiantes aprenderán a programar un bot de Discord que funcionará todos los días, incluyendo fines de semana. Comenzaremos con una introducción a las herramientas que utilizan los programadores, como la configuración de un IDE y la revisión de la sintaxis de Python..<br />
                        </p>
                    </div>
                    <div class="col-md-3 mb-3"><img class="card-img-top h-80 shadow" src="../static/imagenes/1f916.svg" alt="" /></div>
                    <div class="col-md-6 collapse fade" id="masInformacionDiscord">
                        <p class="lead text-muted">
                            Luego, los estudiantes aprenderán sobre el sistema de control y gestión de versiones git, creando una cuenta en GitHub e integrándola en su IDE. Después, los estudiantes aprenderán sobre la biblioteca Discord.py y las API, instalando la primera biblioteca y estableciendo conexiones con el mundo exterior. Los estudiantes aprenderán cómo hacer que los bots respondan a las peticiones y a aprender nuevos conceptos de programación orientada a objetos. Finalmente, los estudiantes aprenderán sobre el despliegue y alojamiento de su bot en un servidor en la nube.
                        </p>
                       
                    </div>
                    <div><button class="btn btn-color" type="button" data-bs-toggle="collapse" data-bs-target="#masInformacionDiscord" aria-expanded="false" id="MasinformacionBTN1">Más Información</button></div>
                </div>
            </div>

            <div class="card shadow col-md-12 mb-4 mb-md-6 d-flex flex-column justify-content-between padding-top" id="Maquilaje_social">
                <div class="card-body row d-flex justify-content-center">
                    <div class="col-md-6 d-flex flex-wrap align-content-center">
                        <h2 class="text-uppercase mb-3 letter-spacing-5">Página web:</h2>
                        <p class="lead text-muted">
                            En esta sección, los estudiantes aprenderán a programar un bot de Discord que funcionará todos los días, incluyendo fines de semana. Comenzaremos con una introducción a las herramientas que utilizan los programadores, como la configuración de un IDE y la revisión de la sintaxis de Python..<br />
                        </p>
                    </div>
                    <div class="col-md-3 mb-3"><img class="card-img-top h-80 shadow" src="../static/imagenes/1f4ca.svg" alt="" /></div>
                    <div class="col-md-6 collapse fade" id="mainInformacionWeb">
                        <p class="lead text-muted">
                            Los estudiantes también aprenderán sobre motores de plantillas y sitios web multipágina, y cómo utilizar rutas web para no perder páginas web. Además, se abordará la importancia de la seguridad, incluyendo la autorización, criptografía y validación. Finalmente, los estudiantes aprenderán sobre el despliegue de un sitio de cartera en un servidor en la nube, comparándolo con el despliegue del bot
                        </p>
                       
                    </div>
                    <div><button class="btn btn-color" type="button" data-bs-toggle="collapse" data-bs-target="#mainInformacionWeb" aria-expanded="false" id="MasinformacionBTN2">Más Información</button></div>
                </div>

               
               
		</div>

        <div class="card shadow col-md-12 mb-4 mb-md-6 d-flex flex-column justify-content-between padding-top" id="Maquilaje_social">
            <div class="card-body row d-flex justify-content-center">
                <div class="col-md-6 d-flex flex-wrap align-content-center">
                    <h2 class="text-uppercase mb-3 letter-spacing-5">Modelo de inteligencia artificial:</h2>
                    <p class="lead text-muted">
                        En esta sección, los estudiantes aprenderán a entrenar su propio modelo de inteligencia artificial. Comenzaremos con una comprensión de la IA y el aprendizaje automático, familiarizándonos con Google Colab como un nuevo entorno de desarrollo.<br />
                    </p>
                </div>
                <div class="col-md-3 mb-3"><img class="card-img-top h-80 shadow" src="../static/imagenes/1f9d1-1f3fc-200d-1f3eb.svg" alt="" /></div>
                <div class="col-md-6 collapse fade" id="masInformacionInteligencia">
                    <p class="lead text-muted">
                        Luego, los estudiantes aprenderán sobre la importancia de los datos, extrayéndolos de fuentes abiertas y analizándolos. Los estudiantes también aprenderán a limpiar, analizar y visualizar los datos. Después, los estudiantes aprenderán sobre la visión por ordenador y cómo entrenar un modelo a través de una interfaz web, comprendiendo las clases y la precisión. Los estudiantes explorarán bibliotecas y aprenderán a utilizar modelos entrenados con código. Además, los estudiantes aprenderán a detectar un problema, analizarlo, recopilar información y planificar. Finalmente, los estudiantes participarán en una batalla de IA, entrenando sus propios modelos para resolver problemas.
                    </p>
                   
                </div>
                <div><button class="btn btn-color" type="button" data-bs-toggle="collapse" data-bs-target="#masInformacionInteligencia" aria-expanded="false" id="MasinformacionBTN3">Más Información</button></div>
            </div>
    </div>
		<div class="row">
			<div class="col-md-12">
				<h2></h2>
				<p> .</p>
			</div>
		</div>

       
    </div>
</section>
{% endblock %}