{% extends 'base.html' %}


{% block title%} valores {% endblock %}

{% block body %}
    <section class="jumbotron pading-top" id="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 text-center text-md-start">
                    <h1 class="display-4 fw-bold">Bienvenidos a nuestra plataforma de enseñanza</h1>
                    <p class="lead mb-4">¡Esperamos que disfrutes de tu tiempo aquí!</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="../static/imagenes/appicon-style-universe-galaxy-space-artificial-intelligence-python-programming-information-tec-886216962.png" alt="imagen hero" class="img-fluid rounded-circle">
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../static/imagenes/kodland_folks.png" alt="comunidad" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Comunidad</h5>
                        <p class="card-text">Únete a nuestra comunidad de estudiantes y profesionales de la     tecnología para compartir conocimientos, proyectos y oportunidades de trabajo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="../static/imagenes/1f463.svg" alt="laptop" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Cursos en línea</h5>
                        <p class="card-text">Aprende desde cualquier lugar del mundo con nuestros cursos en     línea de programación, diseño web, marketing digital y más.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="fw-bold">¿Quieres saber más?</h2>
                    <p class="lead">Contáctanos y te brindaremos más información sobre nuestros servicios de enseñanza personalizados.</p>
                    <a href="#" class="btn btn-primary btn-lg">Contáctanos</a>
                </div>
                <div class="col-md-6">
                    <p>El niño es el protagonista del curso. Sus objetivos e intereses están en el centro del proceso educativo. El padre es nuestro aliado.</p>
                    <p>Además de dar al niño una colección de habilidades duras, también les proporcionamos habilidades blandas.
                </div>
    </section>

    <script src="../static/js/index.js"></script>
{% endblock %}


